/* about css */
.about{
   /* position: absolute; */
   background-color:  var(--bg-light);
   display: block;
   color: white;
   text-align: center;
   padding: 5% 8%;
   z-index: 5;
   /* border: 2px solid hotpink; */
}
.about p{
   margin: 4px;
}
.about p:hover{
/* background: rgba(255, 255, 255, 0.1);
border-radius: 15px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
border: 1px solid rgba(255, 255, 255, 0.1); */
}


.btn{
width: 220px;
padding: 8px;
margin: 8px;
font-size: 16px;
font-weight: 700;
cursor: pointer;
color: var(--secondary-color);
/* background-color: #00ff00; */
background-color: #ff0000;
border: none;
}