.footer{
    background-color:  var(--bg-darker);
    /* box-shadow: 4px 0px 10px 0px rgba(255, 255, 255, 0.1); */
    color: white;
    padding: 2% 8%;
    text-align: center;
    position: relative;
}
.footer .scroll-top{
    background-color: var(--primary-color);
    color: white;
    opacity: 0.8;
    padding: 5px 10px;
    font-size: 22px;
    margin: auto;
    border: none;
    position: absolute;
    top: -18px;
    left: 50%;
    cursor: pointer;
}
.footer .scroll-top:hover{
    opacity: 1;
    transition: 0.5s;
    top: -20px;
}
.footer span{
    color: var(--primary-color);
    opacity: 0.8;
    padding: 20px;
    display: inline-block;
}
.footer span:hover{
    opacity: 1;
    transition: 0.4s;
}
.footer span .icon{
    padding: 0 5px;
    font-size: smaller;
}