.skills {
    background-color: var(--bg-light);
    padding: 5% 8%;
}
.skills .tab-header{
    position: relative;
    width: 80%;
    margin: 5px auto;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--bg-dark);
    color: white;
    /* border: 1px solid green; */
}
.skills .tab-header .tab{
    flex-basis: 100%;
    padding: 12px 4px;
    margin: 4px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    font-weight: bolder;
    background: var(--bg-light);
}
.skills .tab-header .tab:hover, .skills .tab-header .tab:active{
    /* color: var(--primary-color); */
    background-color: var(--primary-light);
}
.skills .tab-header .tab.selected-tab{
    background-color: var(--primary-light);
    color: var(--primary-color);
}
.skills .container{
    width: 80%;
    background-color: var(--bg-dark);
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    /* border: 2px solid var(--secondary-color); */
}
.skills .tab-body{
    display: none;
    text-align: center;
    color: white;
}
.skills .tab-body:first-child{
    display: block;
}
.skills .tab-body .skills-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    /* border: 1px solid  cadetblue; */
}
.tab-body p{
    margin-bottom: 10px;
}
.tab-body .skill{
    min-width: 60px;
    min-height: 50px;
    margin: 6px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;
    display: block;
    color: white;
    background-color: var(--bg-dark);
    border: 3px solid var(--bg-light);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.5);
}
.tab-body .skill:hover{
    background-color: var(--bg-light);
}
.tab-body .skill .icon{
    font-size: 22px;
    width: 25px;
    padding: 4px 1px;
}
