.skills {
    background-color: var(--bg-light);
    color: white;
    padding: 5% 8%;
}
.tab{
    width: 80%;
    background-color: var(--bg-dark);
    margin: auto;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    /* border: 1px solid green; */
}
.tab div{
    flex-basis: 100%;
    /* margin: 0 2px; */
    padding: 7px 4px 7px 14px;
    /* border: 2px solid var(--bg-dark); */
    border: 2px solid var(--bg-dark);
    cursor: pointer;
    background: var(--bg-dark);
    border-radius: 8px;
}
.tab div:hover, .tab div:active{
    background: var(--bg-light);
}
.tab div:nth-child(1){
    background-color: var(--bg-light);
    color: var(--primary-color);
}
.skills .container{
    width: 80%;
    background-color: var(--bg-dark);
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-top-color: var(--bg-dark);
    /* border: 2px solid var(--secondary-color); */
}
.skills .frontend{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    /* border: 1px solid  cadetblue; */
}
/* .frontend h1{
    display: block;
    flex-basis: 100%;
} */
.frontend .skill{
    min-width: 60px;
    min-height: 50px;
    margin: 6px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    /* background-color: var(--bg-light); */
    display: block;
    color: var(--primary-color);
    font-size: 12px;
    border: 3px solid var(--primary-light);
    
}
.frontend .skill:hover{
    background-color: var(--bg-light);
}
.skill .icon{
    /* background-color: chocolate; */
    font-size: 22px;
    width: 25px;
    padding: 4px 1px;
}
