@import "./components/Navbar.css";
@import "./components/Home.css";
@import "./components/About.css";
@import "./components/Education.css";
@import "./components/Skills.css";
@import "./components/Projects.css";
@import "./components/Contact.css";


.sub-title {
  color: var(--secondary-color);
  font-size: larger;
  font-weight: bolder;
  opacity: 0.7;
  text-align: center;
}

.title {
  padding: 5px 0 25px 0;
  color: var(--primary-color);
  text-align: center;
  width: fit-content;
  margin: auto;
}

.text-style {
  overflow: hidden;
  line-height: 24px;
  font-size: 18px;
}

/* Text glich effect */
.glitch {
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}

.glitch:hover {
  font-family: "Rubik Glitch", cursive;
  cursor: none;
  animation: glitchEffect 1s infinite;
}
@keyframes glitchEffect {
  0% {
    transform: translateX(0);
    cursor: wait;
  }
  10%,90% {
    transform: translateX(-0.2px);
    transform: skew(-10deg);
  }
  20%,80% {
    transform: translateX(-2px);
    cursor: wait;
  }
  30%,50%,70% {
    transform: translateX(-0.1px);
    transform: translateY(0px);
  }
  40%,60% {
    transform: translateX(0px);
    transform: translateY(1px);
    cursor: context-menu;

  }
  100% {
    transform: translateX(0);
    transform: translateY(0px);
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 900px) {
  .education {
    padding: 5% 4%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 777px) {

  .home-content {
    flex-direction: column;
  }

  .home-left {
    min-height: 200px;
    padding: 70px 15px 0px 15px;
    padding-left: 10%;
  }

  .home-right {
    width: auto;
    min-height: 200px;
  }

  .home-right button:first-child {
    margin-top: 20%;
  }

  .about {
    text-align: justify;
    padding: 5% 2%;

  }

  .about .about-content {
    width: 90%;
  }

  .skills {
    padding: 5% 2%;
  }

  .skills .tab-header {
    width: 90%;
  }

  .skills .container {
    width: 90%;
  }

  .education {
    padding: 5% 2%;
  }

  .education .container.left-container {
    padding: 10px 40px 10px 0px;
  }

  .education .container.right-container {
    padding: 10px 0px 10px 40px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 550px) {
  .home-left h1 {
    font-size: 28px;
  }

  .home-left span {
    display: block;
  }

  .about {
    text-align: justify;
    padding: 5% 1%;

  }

  .about .about-content {
    width: 90%;
  }

  .about p {
    text-align: center;
  }

  .skills {
    padding: 5% 1%;
  }

  .skills .tab-header {
    background-color: var(--bg-dark);
    font-size: 14px;
    padding: 5px;
    border-bottom: 2px solid var(--bg-light);
  }

  .tab-body .skill {
    min-width: 55px;
    min-height: 43px;
    padding: 1px;
    font-size: 10px;
    margin: 3px;
  }

  .tab-body .skill .icon {
    font-size: 20px;
    padding: 4px 1px;
  }

  .education {
    padding: 5%;
  }

  .education .timeline::after {
    left: 15px;
  }

  .education .container {
    width: 100%;
  }

  .education .container.left-container {
    left: 0;
    padding: 10px 2px 10px 40px;
  }

  .education .container.right-container {
    left: 0;
    padding: 10px 2px 10px 40px;
  }

  .education .right-container .circle,
  .education .left-container .circle {
    top: 43px;
    left: 1px;
  }

  .education .left-container-arrow,
  .education .right-container-arrow {
    position: absolute;
    top: 28;
    right: 100%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid var(--bg-light);
  }
}

/* smallest breakpoint */
@media (max-width: 280px) {
  body {
    overflow: auto;
  }

  .home-right button {
    width: 180px;
  }

  .text-box h1 {
    font-size: 26px;
    overflow: auto;
  }

  .skills .tab-header {
    font-size: 15px;
    flex-wrap: wrap;
  }

  .skills .container {
    padding: 5px;
  }

  .tab-body .skill {
    min-width: 40px;
    min-height: 40px;
    padding: 0px 2px;
    margin: 2px;
    font-size: 8px;
  }

  .tab-body .skill .icon {
    font-size: 18px;
  }
}