@import "./components/Navbar.css";
@import "./components/Home.css";
@import "./components/About.css";
@import "./components/Education.css";
@import "./components/Skills.css";
@import "./components/Projects.css";
@import "./components/Contact.css";


.sub-title {
  color: var(--secondary-color);
  font-size: larger;
  font-weight: bolder;
  opacity: 0.7;
  text-align: center;
}
.title {
  padding: 5px 0 25px 0;
  color: var(--primary-color);
  text-align: center;
}
.text-style {
  overflow: hidden;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 8px;
}

/* Text glich effect */
.glitch {
  font-family: "Rubik", sans-serif;
  font-weight: lighter;
}
.glitch:hover {
  font-family: "Rubik Glitch", cursive;
  cursor: none;
  animation: glitchEffect 1.5s infinite;
}
@keyframes glitchEffect {
  0% {
    font-family: "Rubik Glitch", cursive;
    font-style: normal;
  }
  45% {
    font-family: "Rubik Glitch", cursive;
    font-style: normal;
  }
  60% {
    font-family: "Rubik Glitch", cursive;
    font-style: italic;
  }
  75% {
    font-family: "Rubik", sans-serif;
    font-style: normal;
  }
  100% {
    font-family: "Rubik Glitch", cursive;
    font-style: normal;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 900px) {
  .education {
    padding: 5% 4%;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 777px) {
 
  .home-content {
    flex-direction: column;
  }
  .home-left {
    min-height: 200px;
    padding: 70px 15px 0px 15px;
    padding-left: 10%;
  }
  .home-right {
    width: auto;
    min-height: 200px;
  }
  .home-right button:first-child {
    margin-top: 20%;
  }
  .education {
    padding: 5% 2%;
  }
  .education  .container.left-container {
    padding: 10px 40px 10px 0px;
  }
  .education .container.right-container {
    padding: 10px 0px 10px 40px;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 550px) {
  .home-left h1 {
    font-size: 28px;
  }
  .home-left span{
    display: block;
  }
  .about p {
    text-align: left;
  }
  .education {
    padding: 5%;
  }

  .education .timeline::after {
    left: 15px;
  }

  .education .container {
    width: 100%;
  }

  .education .container.left-container {
    left: 0;
    padding: 10px 2px 10px 40px;
    
  }

  .education .container.right-container {
    left: 0;
    padding: 10px 2px 10px 40px;
  }
  .education .container .text-box {
    background-color: var(--bg-light);
    /* margin: 10px 20px; */
    padding: 20px;
    position: relative;
    overflow: visible;

    /* border: 2px solid var(--primary-color); */
    border: double 3px transparent;
    border-radius: 8px;
    background-origin: border-box;
    background-clip: padding-box, border-box;
  }

  .education .right-container .circle,
  .education .left-container .circle {
    top: 43px;
    left: 1px;
  }

  .education .left-container-arrow,
  .education .right-container-arrow {
    position: absolute;
    top: 28;
    right: 100%;
  }
}

/* smallest breakpoint */
@media (max-width: 280px) {
  body {
    overflow: auto;
  }
  .home-right button{
    width: 180px;
  }
  .text-box h1{
    font-size: 26px;
    overflow: auto;
  }
}