
:root{
  /* --primary-color:  #12ffac; */
  /* --primary-color:  #5f6; */
  /* --primary-color: #00ec00; */
  --primary-color: #00ff00;
  --secondary-color: #f57c03;
  --bg-light: #0e1f17;
  --bg-dark: #08120d;
   /* background-color:  #1c3c2c; */
   /* background-color: #12271c; */
   /* background-color:  #0e1f17; */
   /* background-color:  #152e22; */
   /* background-color: #08120d; */
}
*{
  margin: 0;
  padding: 0;
  font-family: monospace,'Courier New', Courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  /* outline: 2px solid red; */
}

