
:root{
  /* --primary-color:  #12ffac; */
  /* --primary-color:  #5f6; */
  /* --primary-color: #00ec00; */
  --primary-color: #00ff00;
  --primary-light: #00ff0060;

  --secondary-color: #f57c03;

  /* --bg-light: #0e1f17; */
  --bg-light: #152e22;
  --bg-lighter: #1c3c2c; 

  --bg-dark: #08120d;
  --bg-darker: #060e0a;
  /* --bg-lighter: #152e22; */
  /* --bg-lighter: #12271c; */
  
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: monospace,'Courier New', Courier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  /* overflow-x: hidden; */
  /* outline: 2px solid red; */
}
.body{
  background-color: var(--bg-light);
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}